:root{
  --tblack: #282726;
  --torange: #F67128;
  --twhite: #FFF7F0;
  --tgray: #949494;
  --tbrown: #B6866F;
}
.kanainput{
  margin-bottom: 10px;
}
.kanabuttont{
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  background-color: var(--torange);
  border: 2px solid var(--twhite);
  font-size: 150%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.kanabuttonf{
  margin-left: 10px;
  margin-right: 10px;
  display: inline;
  background-color: #000;
  border: 2px solid var(--twhite);
  font-size: 150%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.kana::first-letter{
  color: var(--torange);
}

.scores{
  width: 100%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.score{
  display: inline-block;
  width: 50%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.highscore{
  display: inline-block;
  width: 50%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.question{
  border: 2px solid var(--torange);
  position: relative;
  width: 50px;
  height: 50px;
  left: -150%;
  padding-top: 10px;
  text-align: center;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.correct{
  border: 2px solid #00ff00;
  position: relative;
  width: 50px;
  height: 50px;
  left: 0;
  padding-top: 10px;
  text-align: center;
  -webkit-animation: slideout 1s forwards;
  -webkit-animation-delay: 2s;
  animation: slideout 1s forwards;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.incorrect{
  border: 2px solid #ff0000;
  position: relative;
  width: 50px;
  height: 50px;
  left: 0;
  padding-top: 10px;
  text-align: center;
  -webkit-animation: slideout 1s forwards;
  -webkit-animation-delay: 2s;
  animation: slideout 1s forwards;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}


@-webkit-keyframes slideout {
    100% { left: 150%; }
}

@keyframes slideout {
    100% { left: 150%; }
}